body {
  font-family: Arial;
  background: #f2f2f2;
}

.box {
  background: white;
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  border-radius: 8px;
}

input {
  width: 70%;
  padding: 5px;
}

button {
  margin: 5px;
  padding: 5px 10px;
}

.filters {
  margin-top: 10px;
}

li {
  display: flex;
  justify-content: space-between;
  margin: 8px 0;
}
